In [1]:
#¿Cuál es el idioma para el cual sus usuarios realizan más agradecimientos en promedio?
#¿Y el de menos agradecimientos? Calcule lo mismo para quienes reciben agradecimientos

In [2]:
import pandas as pd

In [4]:
logs = pd.read_csv('logs.csv',usecols=['contributor_id','action'])

In [5]:
lang = pd.read_csv('languages.csv')

In [11]:
merg = logs.merge(lang,left_on='contributor_id',right_on='babel_user',how='outer')

In [14]:
df = merg.loc[merg.action == 'thank']

In [26]:
df['dif'] = 1
df

<ipython-input-26-82c197d62eba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dif'] = 1

          contributor_id action  babel_user babel_lang babel_level  dif
240908            2075.0  thank      2075.0         en           4    1
240909            2075.0  thank      2075.0         es           N    1
240910            2075.0  thank      2075.0         fr           3    1
240911            2075.0  thank      2075.0         ja           2    1
241048            2075.0  thank      2075.0         en           4    1
...                  ...    ...         ...        ...         ...  ...
16819343       6333821.0  thank         NaN        NaN         NaN    1
16819450       6333922.0  thank         NaN        NaN         NaN    1
16819490       6333959.0  thank         NaN        NaN         NaN    1
16819522       6333984.0  thank         NaN        NaN         NaN    1
16820339       6334754.0  thank         NaN        NaN         NaN    1

[439526 rows x 6 columns]

In [30]:
df=df.groupby(['contributor_id','babel_lang']).agg({'dif':'count'})
df

                           dif
contributor_id babel_lang
967.0          en            1
               es            1
               he            1
               yi            1
1416.0         ca            1
...                        ...
6300033.0      it            1
               pi            1
               ru            1
               sa            1
6315666.0      es            1

[7145 rows x 1 columns]